// Variables
$bg-color : #C8B6C6;
$primary-color: #49306B;
$secondary-color: #C7B7E5;
$emphasis-color: #C21BFF;

//Classes
@mixin button($couleurBg, $couleur) {
    background-color: $couleurBg;
    color: $couleur;
    border: none;
    padding: 0.5em 1.5em;
}


body {
    padding: 0;
    margin: 0;
    background-color: $bg-color;
}

header {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;

    #boiteHeaderL {
        width: 33vw;
        display: flex;
        justify-content: start;
    }

    #boiteHeaderC {
        width: 33vw;
        display: flex;
        justify-content: center;
    }

    #boiteHeaderR {
        width: 33vw;
        display: flex;
        justify-content: end;
    }

    button {
        @include button($secondary-color, $primary-color);
    }

    button:hover {
        background-color: $emphasis-color;
        color: $secondary-color ;
    }

    h1 {
        color: $secondary-color;
    }

    #searchMenu {
        background-color: $secondary-color;
        border: none;
        border-radius: 5em;
        height: 2em;
        width: 12em;
    }
}

main {
    h3 {
        padding: 0 2em;
    }

    #imageHolder {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: end;
        align-items: center;
        background-image: url(https://picsum.photos/1200/500);
        background-repeat: no-repeat;
        background-size: cover;

        button {
            @include button($primary-color, $secondary-color);
            margin-bottom: 5em;
        }

        button:hover {
            background-color: $secondary-color;
            color: $primary-color;
        }
    }

    #bigPoster {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        height: 50vh;
        margin: 2em;
        padding: 1em;
    }

    #smallPoster {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        height: 20vh;
        margin: 2em;
        padding: 1em;
    }

    #actu {
        background-color: $primary-color;
        color: $secondary-color;
        padding-bottom: 1em;

        .actuPoster {
            background-color: $secondary-color;
            color: $primary-color;
            display: flex;
            flex-flow: row nowrap;
            margin: 2em;
            padding: 1em;

            .actuText {
                padding: 0 2em;
            }
        }
    }
}