@media (max-width: 2000px) {
  body {
    padding: 0;
    margin: 0;
    background-color: #C8B6C6;
  }
  header {
    background-color: #49306B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
  }
  header #boiteHeaderL {
    width: 33vw;
    display: flex;
    justify-content: start;
  }
  header #boiteHeaderC {
    width: 33vw;
    display: flex;
    justify-content: center;
  }
  header #boiteHeaderR {
    width: 33vw;
    display: flex;
    justify-content: end;
  }
  header button {
    background-color: #C7B7E5;
    color: #49306B;
    border: none;
    padding: 0.5em 1.5em;
  }
  header button:hover {
    background-color: #C21BFF;
    color: #C7B7E5;
  }
  header h1 {
    color: #C7B7E5;
  }
  header #searchMenu {
    background-color: #C7B7E5;
    border: none;
    border-radius: 5em;
    height: 2em;
    width: 12em;
  }
  header .logo {
    width: 100%;
  }
  main {
    color: #49306B;
  }
  main h3 {
    padding: 0 2em;
  }
  main #imageHolder {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    align-items: center;
    background-image: url(https://picsum.photos/1200/500);
    background-repeat: no-repeat;
    background-size: cover;
  }
  main #imageHolder button {
    background-color: #49306B;
    color: #C7B7E5;
    border: none;
    padding: 0.5em 1.5em;
    margin-bottom: 5em;
  }
  main #imageHolder button:hover {
    background-color: #C7B7E5;
    color: #49306B;
  }
  main #bigPoster {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 50vh;
    margin: 2em;
    padding: 1em;
  }
  main #smallPoster {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 20vh;
    margin: 2em;
    padding: 1em;
  }
  main #flex-actuCategorie {
    background-color: #49306B;
    color: #C7B7E5;
    display: flex;
    flex-flow: row nowrap;
  }
  main #flex-actuCategorie #actu {
    padding-bottom: 1em;
  }
  main #flex-actuCategorie #actu .actuPoster {
    background-color: #C7B7E5;
    color: #49306B;
    display: flex;
    flex-flow: row nowrap;
    margin: 2em;
    padding: 1em;
  }
  main #flex-actuCategorie #actu .actuPoster .actuText {
    padding: 0 2em;
  }
  main #carouselAllMovie {
    margin: 2em;
  }
  main #carouselAllMovie #searchAndFilter {
    text-align: center;
  }
  main #carouselAllMovie #searchAndFilter #searchMenu {
    background-color: white;
    border: none;
    border-radius: 5em;
    height: 2em;
    width: 30em;
  }
  main #SearchResult {
    background-color: #49306B;
    color: #C7B7E5;
    padding: 2em;
  }
  main #SearchResult .ResultLinkToMovie {
    display: flex;
    flex-flow: row wrap;
  }
  main #SearchResult .ResultLinkToMovie .LinkToMovie {
    display: flex;
    flex-flow: column nowrap;
    width: 25%;
    height: 20em;
    align-items: center;
    justify-content: center;
  }
  main #moviePresentation {
    background-color: #49306B;
    color: #C7B7E5;
    display: flex;
    flex-flow: row nowrap;
    padding: 2em 10em;
  }
  main #moviePresentation #presImage {
    width: 100%;
  }
  main #popularReview,
  main #otherReview {
    background-color: #49306B;
    padding: 1px 10em;
  }
  main #popularReview h3,
  main #otherReview h3 {
    color: #C7B7E5;
    padding: 0;
    margin: 0;
  }
  main .reviewItem {
    background-color: #C7B7E5;
    color: #49306B;
    display: flex;
    flex-flow: row nowrap;
    margin: 2em;
    padding: 1em;
  }
  main .reviewItem .reviewText {
    padding: 0 2em;
  }
  footer {
    background-color: #49306B;
    color: #C7B7E5;
    padding: 5em;
  }
  footer p {
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 600px) {
  header {
    height: 3em;
  }
  header #searchMenu {
    width: 9em;
  }
  main #flex-actuCategorie {
    display: block;
    padding: 1em 0;
  }
  main .ResultLinkToMovie {
    display: block;
    width: 100%;
  }
  main .LinkToMovie {
    display: block;
    width: 100%;
  }
  main #moviePresentation {
    padding: 2em 2em;
    display: block;
  }
  main #popularReview, main #otherReview {
    padding: 1px 2em;
  }
}

/*# sourceMappingURL=style.css.map */
