// Variables ------------------------------------------------
$bg-color : #C8B6C6;
$primary-color: #49306B;
$secondary-color: #C7B7E5;
$emphasis-color: #C21BFF;
$transparent : #ffffff00;

//Classes ---------------------------------------------------
@mixin button($couleurBg, $couleur) {
    background-color: $couleurBg;
    color: $couleur;
    border: 2px solid $couleurBg;
    padding: 0.5em 1.5em;
    font-family: "Quicksand", sans-serif;
}

//Version PC ------------------------------------------------
body {
    padding: 0;
    margin: 0;
    background-color: $bg-color;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

header {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    min-height: 3em;

    button {
        @include button($secondary-color, $primary-color);
    }

    button:hover {
        background-color: $primary-color;
        border: 2px solid $secondary-color;
        color: $secondary-color ;
    }

    h1 {
        color: $secondary-color;
    }

    #boiteHeaderL {
        width: 33vw;
        display: flex;
        justify-content: start;
    }

    #boiteHeaderC {
        width: 33vw;
        display: flex;
        justify-content: center;
    }

    #boiteHeaderR {
        width: 33vw;
        display: flex;
        justify-content: end;

        #addMovie {
            border-radius: 50px;
            height: 3em;
        }
    }

    #searchMenu {
        background-color: $secondary-color;
        border: none;
        border-radius: 5em;
        height: 2em;
        width: 12em;

        ::placeholder {
            color: $primary-color;
        }
    }

    #addMovieForm {
        display: none;
        flex-flow: column nowrap;
        position: fixed;
        width: 50%;
        top: 15%;
        left: 25%;
        padding: 2em;
        z-index: 2;
        background-color: $secondary-color;
        color: $primary-color;
        border: 5px solid $primary-color;
        border-radius: 2em;
    }

    #disableForm {
        position: absolute;
        right: 2em;
        top: 2em;
    }

    #form {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        gap: 1em;

        div {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        button {
            background-color: $primary-color;
            color: $secondary-color;
            border: 2px solid $primary-color;
            margin: 5px;
        }

        :hover {
            background-color: $secondary-color;
            color: $primary-color;
        }

        #formActor {
            display: flex;
            flex-flow: column wrap;
        }

        #inputArea {
            flex-flow: column wrap;
            justify-content: start;
            max-height: 5em;
        }
    }

    .logo {
        width: 100%;
    }

}

main {
    color: $primary-color;

    h3 {
        padding: 0 2em;
    }

    // img bg --------------------------------------------------
    #imageContainerTop {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: end;
        align-items: center;

        button {
            @include button($primary-color, $secondary-color);
            margin-bottom: 5em;
        }

        button:hover {
            background-color: $secondary-color;
            color: $primary-color;
            border: 2px solid $secondary-color;
        }
    }

    // index css ------------------------------------------------
    #bigPoster {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 2em;
        padding: 1em;

        .posterImage {
            height: 20em;
            padding: 10px;
        }
    }

    #smallPoster {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 2em;
        padding: 1em;

        .s-posterImage {
            height: 20vh;
            padding: 10px;
        }
    }

    #flex-actuCategorie {
        background-color: $primary-color;
        color: $secondary-color;
        display: flex;
        flex-flow: row nowrap;

        #actu {
            padding-bottom: 1em;

            .s-PosterItem {
                background-color: $secondary-color;
                color: $primary-color;
                display: flex;
                flex-flow: row nowrap;
                margin: 2em;
                padding: 1em;
                align-items: center;

                img {
                    height: 10em;
                }

                .actuText {
                    padding: 0 2em;
                }
            }
        }


        #tendance {
            max-width: 35vw;
            padding: 0 1em;
        }

        #btnMenu {
            @include button($secondary-color, $primary-color );
            margin: 2em;
            margin-left: 40%;
        }



    }

    #btnMenu2 {
        @include button($secondary-color, $primary-color );
        margin: 2em;
        margin-left: 40%;

    }
    #btnMenu2:hover {
    background-color: $primary-color;
        border: 2px solid $secondary-color;
        color: $secondary-color ;
    }

    // caroussels ----------------------------------------
    #carousels {
        overflow: hidden;
        height: 59vh;
        width: 100%;

        button {
            background-color: $transparent;
            border: none;

            svg {
                width: fit-content;
                height: 3em;
            }
        }

        .left {
            position: absolute;
            left: 1px;
            top: 40%;
            z-index: 1;
        }

        .right {
            position: absolute;
            right: 1px;
            top: 40%;
        }
    }

    .flexContainer {
        display: flex;
        flex-flow: row nowrap;
        position: relative;
    }

    .carousel {
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .card {
        position: relative;
        margin: 0 2px;

        img {
            height: 10em;
            filter: brightness(50%);
        }

        h4 {
            position: absolute;
            color: white;
            top: 30%;
            left: 50%;
            translate: -50% -50%;
            max-width: 5em;
            padding: 1em;
        }

        :hover {
            filter: brightness(100%);

            h4 {
                color: $transparent;
            }
        }
    }

    .active {
        margin: 0 1em;

        img {
            height: 11em;
            filter: brightness(100%);
            z-index: 1;
        }

        h4 {
            color: $transparent;
        }
    }

    // all movies css --------------------------------------------
    #carouselAllMovie {
        margin: 2em;

        #searchAndFilter {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            gap: 5px;

            input {
                background-color: $bg-color;
                border: none;
                color: $primary-color;
            }

            #searchMenu {
                background-color: white;
                border: none;
                border-radius: 5em;
                height: 2em;
                width: 30em;
            }

            #filterMenu {
                background-color: $bg-color;
                border: none;
                color: $primary-color;
            }
        }
    }

    #SearchResult {
        background-color: $primary-color;
        color: $secondary-color;
        padding: 2em;

    }

    #ResultLinkToMovie {
        display: flex;
        flex-flow: row wrap;
        align-self: center;
    }

    #btnContainer {
        display: flex;
        justify-content: center;
        padding: 2em 0;
    }

    #slideBtn {
        background-color: $bg-color;
        border: none;
        justify-self: center;

        :hover {
            height: 110%;
        }
    }

    .LinkToMovie {
        display: flex;
        flex-flow: column nowrap;
        width: 25%;
        height: 20em;
        min-width: 15em;
        align-items: center;
        justify-content: center;
        padding: 2em 0;

        img {
            height: 15em;
        }
    }

    // one movie css --------------------------------------------
    #movieContainer {
        background-color: $primary-color;
        color: $secondary-color;
        display: flex;
        flex-flow: row nowrap;
        padding: 2em 10%;

        #imageContainer {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-content: center;
        }

        #presImage {
            width: 100%;
        }

        #synopsis {
            margin: 2em;
            padding: 2em;
            background-color: $secondary-color;
            color: $primary-color;
        }

        #castingAndNote {
            display: flex;
            flex-flow: row nowrap;
            gap: 1em;
        }
    }

    #popularReview,
    #otherReview {
        background-color: $primary-color;
        padding: 1px 10%;

        h3 {
            color: $secondary-color;
            padding: 0;
            margin: 0;
        }
    }

    .reviewItem {
        background-color: $secondary-color;
        color: $primary-color;
        display: flex;
        flex-flow: row nowrap;
        margin: 2em;
        padding: 1em;

        img {
            height: 32px;
            width: 32px;
            background-color: aqua;
            align-self: center;
        }

        .reviewText {
            padding: 0 2em;
        }
    }
}


footer {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 5em;

    p {
        padding: 0;
        margin: 0;
        text-align: center;
    }
}

// version telephone ----------------------------------------
@media (max-width:600px) {
    header {
        height: 3em;

        #searchMenu {
            width: 9em;
        }

        #addMovieForm {
            top: 5%;
            left: 15%;

            #disableForm {
                right: 10px;
                top: 10px;
            }

            #inputArea {
                overflow-x: scroll;
            }
        }
    }

    main {

        // img bg ------------------------------------------
        #imageHolder {
            height: 40vh;
        }

        // index css -----------------------------------------
        #bigPoster {
            flex-flow: column nowrap;
            align-items: center;
            height: fit-content;
            gap: 1em;
        }

        #smallPoster {
            flex-flow: row wrap;
            align-items: center;
            height: fit-content;
        }

        #flex-actuCategorie {
            display: block;
            padding: 1em 0;

            #tendance {
                max-width: none;
            }

            .s-PosterItem {
                align-items: center;
            }
        }

        // all movies css -----------------------------------
        .ResultLinkToMovie {
            display: block;
            width: 100%;
        }

        .LinkToMovie {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            width: 100%;
        }

        // one movie css --------------------------------------
        #movieContainer {
            padding: 2em 2em;
            display: block;
        }

        #imageContainer {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            img {
                padding: 0 3em;
            }
        }

        #popularReview,
        #otherReview {
            padding: 1px 2em;
        }
    }
}